[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
Flask = "*"
SQLAlchemy = "*"
flask-sqlalchemy = "*"
pylint-flask-sqlalchemy = "*"
flask-migrate = "*"
marshmallow-sqlalchemy = "*"
flask-restx = "*"
bcrypt = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"
